@page "/dps"
@using System.Net.Http.Json
@using MudBlazor
@rendermode InteractiveServer

@inject ServerParser LogParser
<LogDrawer OnUpload="StateHasChanged" />
<div style="overflow-x: auto;">
    <MudTable Items="@LogParser.BulkLog.GetPlayers()"
              Hover="true"
              Breakpoint="Breakpoint.Sm"
              LoadingProgressColor="Color.Info"
              Class="flex-table">
        <HeaderContent>
            <MudTh>Player</MudTh>
            @foreach (var log in LogParser.BulkLog.Logs)
            {
                <MudTh>@log.GetFileName()</MudTh>
            }
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context</MudTd>
            @foreach (var log in LogParser.BulkLog.Logs)
            {
                <MudTd>@log.GetPlayerDps(@context)</MudTd>
            }
        </RowTemplate>
    </MudTable>
</div>

@code {
}
